venv
flaskr/AS_Experimento1.db
flaskr/__pycache__
flaskr/modelos/__pycache__
GestorOfertas/__pycache__
GestorRecursosTI/__pycache__
MotorEmparejamiento/__pycache__
Notificador/__pycache__
Validador/__pycache__
.DS_Store
flaskr/modelos/__pycache__/
