Experiemento1/venv
Experiemento1/flaskr/__pycache__
Experiemento1/GestorOfertas/__pycache__
Experiemento1/GestorRecursosTI/__pycache__
Experiemento1/MotorEmparejamiento/__pycache__
Experiemento1/Notificador/__pycache__
Experiemento1/Validador/__pycache__


